body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: #D8BFD8; /* Лавандовый */
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #D8BFD8; /* Более насыщенный лавандовый */
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

.error {
    color: red;
}

button {
    color: rgb(10, 10, 10);
    background-color: rgb(211, 178, 225);
    padding: 5px 15px;
    border-radius: 15px;
    border-color: #000000;
    font-size: 15px;
  }