{% extends "base.html" %}

{% block lab %} Лабораторнаая работа 2{% endblock %}


{% block main %}

    <h1>Ягоды</h1>
    <p>Ягоды — это не только вкусно, но и полезно! Узнайте больше о самых популярных ягодах.</p>
    <ol>
        <li>
            <h2>Клубника</h2>
            <img src='/static/strawberry.jpeg' alt="Клубника">
            <p>
                Клубника (лат. Fragaria) — одна из самых популярных ягод в мире. Она богата витамином C, 
                антиоксидантами и клетчаткой. Клубника используется в десертах, напитках и даже в косметологии. <br>
                Интересный факт: клубника — это не настоящая ягода с ботанической точки зрения, а разросшееся цветоложе. 
                Настоящие плоды клубники — это маленькие семечки на её поверхности.
            </p>
        </li>
        <li>
            <h2>Малина</h2>
            <img src='/static/raspberry.jpeg' alt="Малина">
            <p>
                Малина (лат. Rubus idaeus) — сладкая и ароматная ягода, известная своими полезными свойствами. 
                Она содержит эллаговую кислоту, которая помогает бороться с воспалениями и укрепляет иммунитет. <br>
                Интересный факт: малина была известна ещё в Древней Греции. Её использовали не только в пищу, 
                но и для лечения простуды и лихорадки.
            </p>
        </li>
        <li>
            <h2>Черника</h2>
            <img src='/static/blueberry.jpg' alt="Черника">
            <p>
                Черника (лат. Vaccinium myrtillus) — маленькая, но очень полезная ягода. Она улучшает зрение, 
                память и работу сердечно-сосудистой системы. Черника также богата антоцианами, которые придают 
                ей тёмно-синий цвет. <br>
                Интересный факт: во время Второй мировой войны британские лётчики ели черничное варенье, 
                чтобы улучшить ночное зрение.
            </p>
        </li>
        <li>
            <h2>Смородина</h2>
            <img src='/static/currant.jpg' alt="Смородина">
            <p>
                Смородина (лат. Ribes) — ягода, которая бывает чёрной, красной и белой. Чёрная смородина 
                особенно богата витамином C, а красная и белая — витамином A. <br>
                Интересный факт: в России чёрная смородина стала популярной в XI веке, а её название 
                происходит от древнерусского слова «смород», что означает «сильный запах».
            </p>
        </li>
        <li>
            <h2>Ежевика</h2>
            <img src='/static/blackberry.jpg' alt="Ежевика">
            <p>
                Ежевика (лат. Rubus fruticosus) — близкая родственница малины. Она богата витаминами K и C, 
                а также антиоксидантами. Ежевика используется в десертах, джемах и напитках. <br>
                Интересный факт: в древности ежевику считали символом защиты. Люди верили, что ветви ежевики 
                могут отпугнуть злых духов.
            </p>
        </li>
    </ol>
{% endblock %}